flask
twilio
requests
gunicorn
psycopg2-binary
groq
google-generativeai
Pillow
python-dotenv
python-dateutil
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
dateparser==1.2.0
chromadb
playwright
beautifulsoup4
sentence-transformers
